{% extends 'default.html' %}

{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Все товары</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    {# Форма, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>
   <hr>
   {% if products %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Цена</td>
               <td>Количество</td>
           </tr>

           {% for product in products %}
           <tr>
               <td>{{ product.name }}</td>
               <td>{{ product.description|truncatewords:2 }}</td>
               <td>{{ product.category.name }}</td>
               <td>{{ product.price|currency }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}

    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?{{ request.get_full_path|update_page:1}}">First</a>
            <a href="?{{ request.get_full_path|update_page:page_obj.previous_page_number}}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?{{ request.get_full_path|update_page:num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?{{ request.get_full_path|update_page:page_obj.next_page_number }}">>>></a>
            <a href="?{{ request.get_full_path|update_page:page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}

{% endblock content %}